---
import { Image } from "astro:assets";

const { id, imageUrl } = Astro.props;
---

<section id={id} class="relative z-10 flex min-h-[100lvh] w-full">
	<!-- background image -->
	<div class="absolute -z-10 h-full min-h-full w-full overflow-hidden">
		<Image
			src={imageUrl}
			class="singleImg h-auto min-h-full w-full object-cover transition delay-150 duration-1000 ease-in-out hover:-translate-y-1 hover:scale-101"
			alt="wedding"
			aria-hidden="true"
			loading="eager"
			inferSize={true}
			height={1400}
		/>
	</div>
</section>

<script>
	const singleImgs = document.getElementsByClassName("singleImg");
	for (var i = 0; i < singleImgs.length; i++) {
		singleImgs[i].addEventListener("contextmenu", function (event) {
			event.preventDefault();
		});
	}
</script>
