---
import BaseLayout from "@layouts/BaseLayout.astro";

import HeroVideo from "@components/Hero/HeroVideo.astro";

---

<BaseLayout
	title="BLACK SUIT | VIDEOS"
	description="Storytelling in Motion - Capturing Vision, Leadership, and Brand Essence Through Cinematic Narratives."
	navStartStyle="default"
>
	<section id="videos" class="mt-15">
		<HeroVideo videoUrl="https://cdn.heixifu.com/video/001.mp4" autoPlay="autoplay" />
		<HeroVideo videoUrl="https://cdn.heixifu.com/video/002.mp4" />
		<HeroVideo videoUrl="https://cdn.heixifu.com/video/003.mp4" />
		<HeroVideo videoUrl="https://cdn.heixifu.com/video/004.mp4" />
		<HeroVideo videoUrl="https://cdn.heixifu.com/video/005.mp4" />
	</section>
</BaseLayout>
