---
/**
 * * Contact section for the website
 */

import { Image } from "astro:assets";

// components
import ContactForm from "@components/Forms/ContactForm.astro";

interface Props {
	class?: string;
}

const { class: className } = Astro.props as Props;

import ringsImage from "@assets/images/about-us.png";
---

<section
	id="contact"
	class="mx-auto max-w-md scroll-mt-10 px-4 py-8 md:max-w-6xl md:py-12"
	class:list={[className]}
>
	<h2 class="h2 md:px-12 lg:text-6xl">Lets Talk!</h2>
	<div class="grid gap-y-10 md:grid-cols-2">
		<div class="border-primary-300 pt-8 md:border-r md:pr-20 md:pl-12">
			<p class="description text-lg">
				We are a company focusing on providing a wide range of photography services to enterprises.We take good care of the image and deliver high-quality standard service to help you perform better and more efficiently on your Business.
Our mission is to work together with you to build professional and classic corporate image, which will contribute positively to your business growth.
			</p>
			<div class="mx-auto mt-8 aspect-square overflow-hidden">
				<Image
					src={ringsImage}
					alt="BLACK SUIT"
					width={450}
					densities={[1.5, 2]}
					class="h-full w-full object-cover"
				/>
			</div>
		</div>
		<div class="md:pr-12 md:pl-20">
			<ContactForm />
		</div>
	</div>
</section>

<style>
	.description {
		text-align: justify;
	}
</style>