---
import { Image } from "astro:assets";

// data
import siteData from "@config/siteData.json";

// images
import logo from "@assets/images/logo-min.png";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home" class="">
	<!-- <Image
    src={logo}
    alt="BLACK SUIT"
    loading="eager"
    width={200}
  /> -->
	<div class="font-heading-1 text-4xl uppercase">{siteData.name}</div>
</a>
